.body{
    max-width: 950px;
     margin: auto;
     width: 100%;
    border:1px solid black
}
.color{
    color: #1B5A7D;
}
.colors{
    background-color: #1B5A7D;
}

#up{
    height:74px ;
}

#down{
    height: 80px;
}
nav{
    height: 50px;
}
section:nth-child(3){
    height: 394px;

}
section:nth-child(4){
    height: 109px;

}
#product-down{
    height: 458px;
  
}
section:nth-child(6){
    height: 300px;
    background-image: url("../img/pexels.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.small-card{
    height: 201px;
}
section:nth-child(7){
    height: 430px;
}
section:nth-child(8){
    height: 100px;
}
section:nth-child(9){
    height: 255px;
}

section:nth-child(10){
    height: 100px;
}
#subscribe{
    height: 119px;
}
section:nth-child(12){
    height: 150px;
}