.App {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.product li {
  list-style: none;
}
.cursor-pointer {
  cursor: pointer;
}

.dark-blue {
  color: #01213a !important;
}
.dark-blue-bg {
  background-color: #01213a;
}

.pink {
  color: #e84f69 !important;
}
.pink-bg {
  background-color: #e84f69;
}
.pink-hover:hover {
  color: #e84f69 !important;
}
.grey-bg {
  background-color: #e5e5e5;
}

/**/

.nav div a,
.nav a,
.sign-in {
  color: black;
}

.dropdown-toggle::after {
  display: none !important;
}
.nav-dropdown {
  font-size: 20px !important;
}
.submenu .dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  inset: -25px 0px auto auto;
  margin: 0px;
  transform: translate(0px, 126px);
}

.submenu .dropdown {
  position: static !important;
}
.dropdown-menu {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  margin-top: 0px !important;
  width: 100% !important;
}

/**/

.main-carousel1 {
  background-image: url("https://img.freepik.com/free-photo/still-life-perfectly-ordered-fitness-gym-accessories_52683-100701.jpg?w=1380&t=st=1679410557~exp=1679411157~hmac=7b1741966a7946b8093075693c708328409653c756d233e977377db31a9598b8");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 50vh;
}

.carousel-indicators button {
  background-color: white !important;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
}

.main-carousel-title {
  animation-name: title;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

@keyframes title {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.main-carousel-button {
  animation-name: button;
  animation-duration: 2s;
  animation-delay: 2.5s;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
}

@keyframes button {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.section3-div1 {
  background-image: url("https://img.freepik.com/free-photo/health-club-without-people-with-exercise-equipment_637285-8446.jpg?w=1380&t=st=1679483862~exp=1679484462~hmac=e72aee0a15b6bcef7271588de6cd103032312417a892bae9e66fe1e3cab5adc6");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
}

.section3-div1:hover,
.section3-div2:hover,
.section3-div3:hover,
.section3-div4:hover {
  background-position: 5%;
}

.section3-button:hover {
  background-color: #e84f69;
  border-color: #e84f69 !important;
}

.section3-div2 {
  background-image: url("https://img.freepik.com/free-photo/sports-girl-training-stadium_1157-25349.jpg?w=1380&t=st=1679488106~exp=1679488706~hmac=4c00ba31a64033a1bdcf798cfbb532298924f17cccb70e07ee3b7c4bc77a776a");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
}

.section3-div3 {
  background-image: url("https://img.freepik.com/free-photo/interior-equipment-modern-gym-close-up-view-suspension-straps-sport-fitness-health_613910-20264.jpg?w=1380&t=st=1679488047~exp=1679488647~hmac=fd6df7474ba19b0c32f2f993459f7ec282a517583572ecbd2e22aa3ec1278c34");
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  transition-duration: 0.5s;
}

.section3-div4 {
  background-image: url("https://img.freepik.com/free-photo/3d-realistic-render-ladies-t-shirt-clean-empty-template-mockup-design-logo_1048-17306.jpg?w=1480&t=st=1679488223~exp=1679488823~hmac=0c99fc3fa94da03fd2cf82cb6090a83ce5c37e8dd0a5bde7fe45acffa9eb3a0d");
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  transition-duration: 0.5s;
}

.section3-div {
  height: 500px;
}

.section4-div1:hover,
.section4-div2:hover,
.section4-div3:hover,
.section4-div4:hover {
  transform: scale(1.1);
}

.section4-div {
  height: 300px;
  width: 300px;
  overflow: hidden;
  position: relative;
}

.section4-div1 {
  background-image: url("https://img.freepik.com/free-photo/interior-equipment-modern-gym-close-up-view-suspension-straps-sport-fitness-health_613910-20264.jpg?w=1380&t=st=1679488047~exp=1679488647~hmac=fd6df7474ba19b0c32f2f993459f7ec282a517583572ecbd2e22aa3ec1278c34");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.3s;
}

.section4-div2 {
  background-image: url("https://img.freepik.com/free-photo/sports-girl-training-stadium_1157-25349.jpg?w=1380&t=st=1679488106~exp=1679488706~hmac=4c00ba31a64033a1bdcf798cfbb532298924f17cccb70e07ee3b7c4bc77a776a");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.3s;
}

.section4-div3 {
  background-image: url("https://img.freepik.com/free-photo/health-club-without-people-with-exercise-equipment_637285-8446.jpg?w=1380&t=st=1679483862~exp=1679484462~hmac=e72aee0a15b6bcef7271588de6cd103032312417a892bae9e66fe1e3cab5adc6");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.3s;
}

.section4-div4 {
  background-image: url("https://img.freepik.com/free-photo/3d-realistic-render-ladies-t-shirt-clean-empty-template-mockup-design-logo_1048-17306.jpg?w=1480&t=st=1679488223~exp=1679488823~hmac=0c99fc3fa94da03fd2cf82cb6090a83ce5c37e8dd0a5bde7fe45acffa9eb3a0d");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.3s;
}

.section4-h {
  color: #ffffff;
  font-weight: bold;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.card-img {
  width: 100px;
  height: 100px;
}
.section5-div {
  background-image: url("https://img.freepik.com/free-photo/3d-realistic-render-ladies-t-shirt-clean-empty-template-mockup-design-logo_1048-17306.jpg?w=1480&t=st=1679488223~exp=1679488823~hmac=0c99fc3fa94da03fd2cf82cb6090a83ce5c37e8dd0a5bde7fe45acffa9eb3a0d");
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
}
.section5-div:hover {
  background-position: 5%;
}
.section5-tab {
  height: 384px;
}

.small-carousel-div {
  height: 150px;
  width: 150px;
}

.brand-logo {
  width: 150px;
  height: 150px;
  margin: 15px;
}

.form-control:focus {
  box-shadow: none;
  border-color: black;
}

.search-offcanvas {
  height: 650px !important;
}

.input {
  width: 35% !important;
}

.slick-dots li {
  width: 8px !important;
}

/**/
.Black {
  background-color: black;
}
.White {
  background-color: white;
  color: black !important;
}
.Blue {
  background-color: #1790c8;
}
.Grey {
  background-color: #808080;
}
.Brown {
  background-color: #825d41;
}
.Green {
  background-color: #7bba3c;
}
.Rainbow {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  color: transparent;
}
.Purple {
  background-color: #8d429f;
}
.Red {
  background-color: #e7352b;
}
.Yellow {
  background-color: #fed533;
}
.Pink {
  background-color: #f0728f;
}
.Orange {
  background-color: #f36b26;
}
.genderCheckbox:checked {
  background-color: #e84f69;
  box-shadow: none;
  border: none;
}
.size-button {
  width: 65px;
}
.color-button {
  width: 25px;
  height: 25px;
}
.size-button:hover {
  background-color: #e84f69;
  border-color: #e84f69;
}
.product-box-list-img {
  height: 250px;
  width: 380px;
}
.product-box-card {
  width: 208px;
}
.product-box-card-hover {
  width: 208px;
  height: 120px;
  /* transition: 1s;
  opacity: 0; */
}
.product-box-img {
  width: 208px;
  height: 208px;
}
/* .product-box-img-hover:hover {
  position: absolute;
  opacity: 1;
} */
.product-hover-eye {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 10px;
  top: -90px;
}
.pagination .Mui-selected {
  background-color: white !important;
  border: 2px solid #01213a !important;
}
.pagination .MuiButtonBase-root:hover {
  background-color: white !important;
  background-color: white !important;
  border: 2px solid #01213a !important;
}

/**/

.product-detail-thumbnail {
  width: 120px;
}
.product-detail-img {
  width: 600px;
}
.rate-div {
  height: 60px;
  background-color: #3d9cd2;
}
.iiz__btn {
  background-color: transparent !important;
  opacity: 50%;
}
.product-modal {
  margin-top: 200px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  /* background-color: red !important; */
  width: 30px;
  border-radius: 50%;
}
.swiper-products {
  height: 600px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #01213a !important;
  background-color: white;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px !important;
}

/**/

.about-us-absolute-img {
  width: 200px;
  height: 200px;
  right: -55px;
  bottom: 50px;
  border: 20px solid white;
}
.about-us-background-img {
  background-image: url("https://img.freepik.com/free-photo/brown-leather-shoes_74190-2611.jpg?w=1380&t=st=1679830606~exp=1679831206~hmac=c3e0a6330d97d59dfe3bd9b306adcb9a28196edaa62d81ad2b64a720faedf5d5");
  background-size: cover;
  background-size: 70%;
  background-position: right;
  background-repeat: no-repeat;
  height: 500px;
}

/**/

.blog-card {
  width: 450px;
  margin-right: 21px;
}

/**/

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: "Always Show Up/Down Arrows";
}
.cart-input {
  width: 60px;
}
/* .slick-dots button {
  border: 0.1px solid gray !important;
  width: 1px !important;
  height: 1px !important;
  border-radius: 50% !important;
  background-color: #e84f69;
} */

/* .slick-dots button::before {
  display: none;
} */

/* .slick-active button {
  background-color: #e84f69 !important;
  border: 1px solid #e84f69 !important;
} */

/* #section-background{
  height: 300px;
  background-image: url("../public/img/pexels.png");
  background-repeat: no-repeat;
  background-size: 100%;
} */
.small-card {
  height: 150px;
}

#subscribe {
  height: 119px;
}

/**/

.wish {
  width: 300px;
  height: 300px;
  background-color: white;
  position: absolute;
  top: 100px;
  right: 50px;
  z-index: 1;
}

.wishlist {
  border: 1px solid #eee;
  background-color: #fff;
  position: absolute;
  top: 130px;
  width: 300px;
  padding: 20px;
  border-radius: 6px;
  z-index: 2;
}

.wishlist-product {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #b6b6b6;
  padding: 8px 0;
}

.wishlist-product img {
  width: 100px;
}

/**/

.detail-circle {
  width: 18px;
  height: 18px;
  accent-color: green;
  border-radius: 50%;
}

.detail-header {
  height: 60px;
}

.detail-home::after {
  content: "\276F";
  margin-left: 5px;
}

.detail-img {
  height: 150px;
}

.detail-card {
  height: 200px;
}

.big-product {
  height: 400px;
}

.signup-container {
  width: 360px;
  margin: auto;
  font-family: "Inter", sans-serif;
}
