// .swiper {
//   width: 100%;
//   height: 100%;
// }

.mySwiper2.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper2.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper2.swiper {
  width: 80%;
  height: 100%;
}

.mySwiper2.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}
.mySwiper2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper.swiper {
  width: 20%;
  height: 100%;
}

.mySwiper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 10px 10px 10px;
}

.mySwiper .swiper-slide {
  width: 100%;
  // height: 15%;
  opacity: 0.7;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper .swiper-slide img {
  height: 90px;
  width: 100% !important;
}
.mySwiper .product-image-slider-thumbs-wrapper {
  width: 100%;
}
